{% extends 'FklFranklinBundle::admin.html.twig' %}

{% block contextualMenu %}

<div class="btn-group">
    <a href="{{ path('admin_image') }}" class="btn btn-default{%if 'admin_image' == app.request.attributes.get('_route')%} active{% endif %}">
        <span class="glyphicon glyphicon-list"></span>
        {% trans %}List{% endtrans %}
    </a>
</div>

{% if entity is defined and entity.id %}
<div class="btn-group">
    <a class="btn btn-default {%if 'admin_image_show' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_image_show', {'id': entity.id}) }}">
        {% trans %}Show{% endtrans %}
    </a>
    <a class="btn btn-default {%if 'admin_image_edit' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_image_edit', {'id': entity.id}) }}">
        <span class="glyphicon glyphicon-edit"></span>
        {% trans %}Edit{% endtrans %}
    </a>
    <a class="btn btn-default {%if 'admin_image_delete' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_image_delete', {'id': entity.id}) }}">
        <span class="glyphicon glyphicon-remove"></span>
        {% trans %}Delete{% endtrans %}
    </a>    
</div>
{% endif %}


{% endblock contextualMenu %}