{% extends 'FklFranklinBundle::base.html.twig' %}
{% block stylesheets %}
{% endblock %}  

{% block body %}
<div class="produitfull">
    <h1>Détecteur d'ouverture</h1>

    <section class="row">
        <div class="gallery col-md-4">
            <img src="http://www.somfy.fr/common/img/library/300x300/detecteur-bris-de-vitres-blanc.jpg" alt="" class="img-responsive default">
            <div class="miniature">
                <img src="http://www.artdigiprint.com/images/contenu/prepa_image/comp_image_ico.jpg" alt="" class="img-responsive miniature">
                <img src="http://www.artdigiprint.com/images/contenu/prepa_image/comp_image_ico.jpg" alt="" class="img-responsive miniature">
                <img src="http://www.artdigiprint.com/images/contenu/prepa_image/comp_image_ico.jpg" alt="" class="img-responsive miniature">
            </div>
        </div>
        <div class="description col-md-8">
            <h3>Description :</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis hendrerit rhoncus. Ut tincidunt eget massa eu posuere. Maecenas vehicula congue ante, id varius augue ultrices ut. Etiam sed odio justo. Nunc rutrum ligula elit, id eleifend quam rhoncus quis. Maecenas feugiat a justo sit amet facilisis. Proin in ultrices magna, adipiscing imperdiet purus. Quisque tempus diam sit amet turpis ultricies, nec lacinia mi consectetur  
            </p>
            <h3>Référence</h3>
            <p>
                XVF562ZRD
            </p>
            <h3>Notice</h3>
            <p>
                Le lien
            </p>
            <h3>Prix</h3>
            <p>
                15€
            </p>
            
        </div>
        <a href="#" class="btn btn-primary">Contacter un commercial</a>
    </section>

</div>
{% endblock %}

{% block javascripts %}

{% endblock %}


