{% extends 'FklFranklinBundle::base.html.twig' %}
{% block stylesheets %}
{% endblock %}  

{% block body %}
<div class="produit-liste">
    <div class="row" >
        <div class="col-md-3">
            <div class="item">
                <img src="http://www.somfy.fr/common/img/library/300x300/detecteur-bris-de-vitres-blanc.jpg" alt="" class="img-responsive">
                <div class="item-content">
                    <div class="item-top-content">
                        <div class="item-top-content-inner">
                            <div class="item-product">
                                <div class="item-top-title">
                                    <h5>Détecteur d'ouverture </h5>
                                    <p class="subdescription">
                                        Alarme
                                    </p> 
                                </div>
                            </div>
                            <div class="item-product-price">
                                <span class="price-num green-text">15€</span> 
                            </div>
                        </div>
                    </div>
                    <div class="item-add-content">
                        <div class="item-add-content-inner">
                            <div class="section">
                                <br>
                                <a href="{{ path('produitpagefull') }}" class="btn btn-primary custom-button green-btn">Voir la description</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <img src="http://www.somfy.fr/common/img/library/300x300/2401241.jpg" alt="" class="img-responsive">
                <div class="item-content">
                    <div class="item-top-content">
                        <div class="item-top-content-inner">
                            <div class="item-product">
                                <div class="item-top-title">
                                    <h5>Clavier de commande + badge</h5>
                                    <p class="subdescription">
                                        Alarme
                                    </p> 
                                </div>
                            </div>
                            <div class="item-product-price">
                                <span class="price-num green-text">15€</span> 
                            </div>
                        </div>
                    </div>
                    <div class="item-add-content">
                        <div class="item-add-content-inner">
                            <div class="section">
                                <br>
                                <a href="{{ path('produitpagefull') }}" class="btn btn-primary custom-button green-btn">Voir la description</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <img src="http://www.somfy.fr/common/img/library/300x300/camera-de-surveillance-ext%C3%A9rieure-box.jpg" alt="" class="img-responsive">
                <div class="item-content">
                    <div class="item-top-content">
                        <div class="item-top-content-inner">
                            <div class="item-product">
                                <div class="item-top-title">
                                    <h5>Caméra de surveillance extérieure</h5>
                                    <p class="subdescription">
                                        Alarme
                                    </p> 
                                </div>
                            </div>
                            <div class="item-product-price">
                                <span class="price-num green-text">15€</span> 
                            </div>
                        </div>
                    </div>
                    <div class="item-add-content">
                        <div class="item-add-content-inner">
                            <div class="section">
                                <br>
                                <a href="{{ path('produitpagefull') }}" class="btn btn-primary custom-button green-btn">Voir la description</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <img src="http://www.somfy.fr/common/img/library/300x300/1811020_Telis_16_RTS_Pure.jpg" alt="" class="img-responsive">
                <div class="item-content">
                    <div class="item-top-content">
                        <div class="item-top-content-inner">
                            <div class="item-product">
                                <div class="item-top-title">
                                    <h5>Télécommande Telis 16 RTS Pure</h5>
                                    <p class="subdescription">
                                        Alarme
                                    </p> 
                                </div>
                            </div>
                            <div class="item-product-price">
                                <span class="price-num green-text">15€</span> 
                            </div>
                        </div>
                    </div>
                    <div class="item-add-content">
                        <div class="item-add-content-inner">
                            <div class="section">
                                <br>
                                <a href="{{ path('produitpagefull') }}" class="btn btn-primary custom-button green-btn">Voir la description</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}


