{% extends 'FklFranklinBundle::base.html.twig' %}
{% block stylesheets %}
{% endblock %}  

{% block body %}
<form>
     <input type="text" name="name" placeholder="Votre nom" class="form-control input-box">
     <input type="submit" class="btn btn-primary " value="Envoyer le message">
</form>

<div class="progress progress-striped active">
  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}


