/*     FONT
---------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*     GLOBAL
---------------------*/
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
h1,h2{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 45px ;
    padding-bottom: 10px; 
}
h6{
    font-size: 16px;
}
hr{
    border-top: #e19C56 solid 2px;
}
.navbar{
    border: none;
    margin-bottom: 0px;
}
#nosproduits h5 {
    color: #404040;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
}
#nosproduits div:hover .service-icon {
    border: 10px solid #e96656;
}
#confort div:nth-child(3){
    background: -webkit-linear-gradient( left, #ebdac9 0%, #ececec 100%);
    background:    -moz-linear-gradient( left, #ebdac9 0%, #ececec 100%);
    background:     -ms-linear-gradient( left,#ebdac9 0%, #ececec 100%);
    background:      -o-linear-gradient(left,#ebdac9 0%, #ececec 100%);
    background:         linear-gradient( left, #ebdac9 0%, #ececec 100%);
    padding: 14px 23px;
}
.center{
    margin-bottom: 40px;
}
#liste-produits div img{
    max-height: 213px;
}
.dark-text {
    color: #404040;
}
#content {
    text-align: center; 
}
#liste-produits .row{
    margin-top: 15px;
}
.service-icon {
    margin-bottom: 30px;
    width: 145px;
    height: 145px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #ececec;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pixeden {
    height: 63px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

i.conseil{
    background: url(../images/conseil.png) no-repeat;
    width: 68px;
}
i.produit{
    background: url(../images/produits.png) no-repeat;
    width: 68px;
}
i.installation{
    background: url(../images/installation.png) no-repeat;
    width: 68px;
}

/*     HEADER
---------------------*/
.navbar{
    background: #fff;
}
#header  .logo-top{
    background: url('../images/logo.png') no-repeat;
    display: block;
    font-size: 0;
    height: 76px;
    width: 154px;
    position: relative;
    top: 5px;

}
#header {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 20;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}
.top .navbar-inverse .navbar-nav>li>a {
    color: #404040;
    padding: 0;
    line-height: 35px;
}
.top .navbar-inverse .navbar-nav>li>a:hover {
    color: #e96656;;
    padding: 0;
    line-height: 35px;
}
.navbar-inverse .navbar-nav>li>a.active {
    color: #e96656;
    outline: none;
}
.navbar-inverse .navbar-nav>li {
    display: inline;
    margin-right: 20px;
    margin-top: 20px;
}

/*     FOOTER
---------------------*/

#footer,#footer .navbar-inverse{
    background:  #272727;


}
#footer nav{
    border-radius: 0px;


}

/*     SLIDE
---------------------*/
.slidetitle{
    text-align: center;
    color: #FFF;
    margin-top: -28%;
    line-height: 65px;
    z-index: 0;
}
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
.carousel.profile  {
    height: 148px;
}
.carousel.contact {
    height: 780px;
    margin-bottom: 0px;
}
.carousel-caption {
    z-index: 10;
}

.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel.profile .item {
    height: 148px;
    background-color: #D1D1D1;
}
.carousel.contact .item {
    height: 780px;
    background-color: #777;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}


/*     RESPONSIVE
---------------------*/
@media (max-width: 76px) {

}
@media (min-width: 768px) {


    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
    #confort div:nth-child(3){
        background: -webkit-linear-gradient( top, #ebdac9 0%, #ececec 100%);
        background:    -moz-linear-gradient( top, #ebdac9 0%, #ececec 100%);
        background:     -ms-linear-gradient( top,#ebdac9 0%, #ececec 100%);
        background:      -o-linear-gradient(top,#ebdac9 0%, #ececec 100%);
        background:         linear-gradient( top, #ebdac9 0%, #ececec 100%);
        padding: 14px 23px;
    } 
    #header nav ul.navbar-nav {
        float: none;
        text-align: center;
    }
    .logo-footer{
        float: none;
    }

}
@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
/*    Products
---------------------*/


/*---ITEM STYLE ---*/
.item {
    border: solid 1px #dcdcdc;
    width: 100%;
    height: 260px;
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 4px;
}
.item-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item:hover .item-content {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item-top-content {
    position: relative;
}
.item-top-content-inner {
    position: absolute;
    bottom: 0;
    padding: 10px 15px 10px 15px;
    background: #dcdcdc;
    opacity: 0.9;
    width: 100%;
}
.item-add-content {
    padding: 0 15px 15px 15px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item:hover .item-add-content {
    opacity: 0.9;
    background: #dcdcdc;
    width: 100%;
    border-left: 1px;
}
.item-add-content-inner {
    border: none;
}
.item-top-title {
    text-align: left;
}
.item-top-title h5 {
    color: #404040;
    font-weight: 700;
}
/* ITEM DETAILS */
.item-product {
    width: 70%;
    float: left;
}
.item-product-price {
    width: 30%;
    float: right;
    text-align: right;
}
.subdescription {
    font-size: 14px;
    font-weight: 400;
    color: #7d7d7d;
}
.produit-liste{
    margin-top: 37px;   
}
.produit-liste img{
    width: 188px;
    margin: 26px auto;
    border-radius: 6px;  
}
.produitfull .miniature{
    float:left;
    height: 100px;
}
.produitfull{
    text-align: left;
}
.produitfull a.btn {
    float: right;
    margin-bottom: 20px;
}
.produitfull h1,.produitfull h2{
    font-weight: 400;

}
.produitfull h1{
    margin: 43px 0 33px 0px;
}

.contact-form{
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 95px;
    padding-top: 74px;
    border-radius: 14px;
    position: absolute;
    z-index: 999;
    top: 14%;
}
.contact-form .input-box,textarea {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.contact-form .custom-button {
    float: right;
}
.contact-form h1 {
    color: #fff;
    margin-bottom: 48px;
}
.contact .jumbotron{
    opacity: 0.9;
}
.filtre-produit{
    text-align: left;
    margin: 54px 0;
}


/*---------------------------------------
 **   SECTION:  PORTFOLIO          -----
-----------------------------------------*/

.works {
    padding-bottom: 100px;
    background: #FFFFFF;
    min-height: 800px;
}

/* IMAGE GRID */
.cbp-rfgrid {
    margin: auto;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
.cbp-rfgrid li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%; /* Fallback */
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
    -webkit-transition: 0.4s all linear;
    transition: 0.4s all linear;
}
.cbp-rfgrid li a,.cbp-rfgrid li a img {
    display: block;
    max-width: 100%;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    cursor: pointer;
    -webkit-transition: 0.4s all linear;
    transition: 0.4s all linear;
}
.cbp-rfgrid li a:hover img {
    -webkit-transform: scale(1.05,1.07);
    -ms-transform: scale(1.05,1.07);
    transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

/* Flexbox is used for centering the heading */
.cbp-rfgrid li a .project-info {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0,0,0,0.5);
    padding-top: 25%;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all ease .25s;
    transition: all ease .25s;
}
.cbp-rfgrid li a .project-info .project-details {
    position: relative;
    top: -29px;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all ease .25s;
    transition: all ease .25s;
    width: 100%;
}
.cbp-rfgrid li a .project-info h5 {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.cbp-rfgrid li a:hover .project-info {
    filter: alpha(opacity=100);
    opacity: 1;
}
.cbp-rfgrid li a:hover .project-details {
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0;
}
.cbp-rfgrid li a:hover .button {
    filter: alpha(opacity=100);
    opacity: 1;
    bottom: -50px;
}

/* media queries:  change number of items per row */
@media screen and (max-width: 1190px) {
    .cbp-rfgrid li {
        width: 25%; /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}
@media screen and (max-width: 1024px) {
    .cbp-rfgrid li {
        width: 33.33333333333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
@media screen and (max-width: 768px) {
    .cbp-rfgrid li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 480px) {
    .cbp-rfgrid li {
        width: 100%;
    }
}
@media screen and (max-width: 300px) {
    .cbp-rfgrid li {
        width: 100%;
    }
}

/* PROJECT DETAILS LOADER */
#back-button {
    display: none;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 35px 13px 35px;
    border-radius: 4px;
    margin: 10px;
}
#back-button i {
    margin-right: 10px;
}
#loader {
    min-height: 930px;
    position: relative;
    display: none;
}
#loader .loader-icon {
    background: url(../images/loading.gif) no-repeat center center;
    background-color: #FFF;
    margin: -22px -22px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: fixed;
    width: 44px;
    height: 44px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    border-radius: 5px;

}
.installation h1{
    margin: 52px 0;
}
.installation{
    margin-bottom: 30px;
}
#portfolio-list{
    margin-bottom: 46px;
}
/**
Formulaire de connection
*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
